<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../node_modules/toastr/build/toastr.min.css" rel="stylesheet" />
</head>

    <body>
        <h2>External Modules - Starter</h2>
        <div><a href="../index.html">Index</a></div>

        <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../node_modules/toastr/build/toastr.min.js"></script>
        <script src="../scripts/app/04-05-dataservice.js"></script>
        <script src="../scripts/app/04-05-alerter.js"></script>
        <script src="../scripts/app/04-05-bootstrapper.js"></script>
    </body>
</html>