<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="../styles/app.css" type="text/css" />
    <script src="../scripts/dynamic-types.js"></script>
</head>
<body>
    <h1>TypeScript Fundamentals - Dynamic Types</h1>
    <a href="../index.html">Index</a>
    <div class="description">Explore how dynamic types are examined at run time. Press F12 to see the Console Windows.</div>
    <div id="content">
    </div>
</body>
</html>